<?xml version="1.0"?>
<launch>
  <!-- Start Hector SLAM -->
  <include file="$(find hector_slam_launch)/launch/tutorial.launch" />

  <!-- Launch odometry node 
  <node name="odom_publisher" pkg="odom_pub" type="odom_pub_node" output="screen">
    <remap from="/encoder" to="/odom_publisher/encoder"/>
  </node>-->


  
</launch>

