<?xml version="1.0"?>
<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find project_pkg)/urdf/project_pkg.urdf" />
    
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    respawn="false" 
    output="screen" />

    <!-- Start Rviz 
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find project_pkg)/urdf.rviz" /> -->
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />

  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher"
    respawn="false"
    output="screen" >
  </node>
<!--
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui"
    respawn="false"
    output="screen" >
  </node>-->

  

</launch>
